html {
    color: #323232;
    font: {
        size: 62.5%;
        family: Lucida, "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , serif;
    }
    line-height: 1;
    font-feature-settings: "palt" 1;
}

img {
    max-width: 100%;
    height: auto;
}

:global(.containerTopBlog) {
    display: flex;
    flex-wrap: wrap;
    max-width: 1020px;
    margin: 0px auto 70px;
    padding: 10px 0;
}
