@charset "UTF-8";

@import "assets/stylesheets/mixin";

.Section {
    padding-bottom: 60px;
    overflow: hidden;
    @include media( md ) {
        padding-bottom: 90px;
    }
}

.Header {
    margin-bottom: 0;
    padding: 100px 30px 100px;
    text-align: center;
    background: $bgColor url("/assets/images/top/bg_Dream.png") 60% 41% no-repeat;
    background-size: 159%;
    @include media( sm ) {
        padding: 192px 0 232px;
        background-size: auto;
        background-position: 46% 48%;
    }
}

.container {
    @include container;
    position: relative;
    padding: 0 15px;
    min-height: 530px;
}

.First {
    background-color: $bgColor;
}

.Image {
    margin: 0 -15px;
    @include media( md ) {
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        width: 1050px;
        margin: 0;
    }
}

.Txt {
    h3 {
        margin-top: 4rem;
        text-align: center;
        @include media( md ) {
            margin-top: 0;
        }
    }
    p {
        margin-top: 3rem;
        font-size: 1.4rem;
        line-height: 1.65;
        text-align: justify;
    }
    @include media( md ) {
        width: 50%;
        // max-width: 470px;
        padding: 0 68px;
    }
}

.Btn {
    @include BtnForm;
}

.imgMap {
    display: none;
    @include media( lg ) {
        display: block;
        text-align: center;
        img {
            width: 100%;
        }
    }
}

.containerMap {
    @include container;
    @include media( md ) {
        display: flex;
        justify-content: center;
        margin-top: 86px;
    }
    article {
        padding: 40px 15px 0;
        @include media( sm ) {
            padding: {
                left: 30px;
                right: 30px;
            }
        }
        @include media( md ) {
            width: 50%;
            max-width: 480px;
            padding-top: 0;
        }
        @include media( lg ) {
            max-width: 580px;
            padding: 0 70px;
        }
    }
    h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
            content: "";
            display: block;
            width: 21px;
            height: 28px;
            margin-right: 10px;
            background: url("/assets/images/top/img_Mappin.png") no-repeat;
            background-size: 21px;
        }
        img {
            height: 17px;
        }
        @include media( sm ) {
            img {
                height: 21px;
            }
            &::before {
                width: 30px;
                height: 40px;
                background-size: 100%;
            }
        }
        @include media( md ) {
            justify-content: flex-start;
            img {
                height: auto;
            }
            &::before {
                width: 42px;
                height: 56px;
                background-size: auto;
            }
        }
    }
    p {
        margin-top: 3rem;
        font-size: 1.4rem;
        line-height: 1.65;
        text-align: justify;
        @include media( md ) {
            font-size: 1.5rem;
        }
    }
    .route {
        text-align: center;
    }
    table {
        max-width: 480px;
        margin: 3rem auto 0;
        // margin-top: 3rem;
        font-size: 1.2rem;
        table-layout: fixed;
        @include media( md ) {
            font-size: 1.3rem;
        }
    }
    tbody {
        vertical-align: top;
    }
    caption {
        caption-side: top;
        color: inherit;
    }
    th,td {
        padding: {
            top: .2em;
            bottom: .2em;
        }
    }
    th {
        padding-right: 1.5em;
        font-weight: normal;

        display: table-cell;
    }
}
