@charset "UTF-8";

@import "assets/stylesheets/mixin";

.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 710px;
    background: url("/assets/images/top/bg_Second002.png") left 0% bottom 0% repeat-x,
                url("/assets/images/top/bg_Second.jpg") left 50% bottom 50% no-repeat;

}

.SectionSecond {
    padding: 40px 0;
    @include media( md ) {
        padding-bottom: 80px;
    }
}

.containerFirst {
    @include container( 1050px );
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    p {
        margin-top: 2em;
        font-size: 1.5rem;
        line-height: 2.2;
    }
    @include media( md ) {

    }
}

.txtColFirst {
    padding: 0 15px;
    @include media( md ) {
        padding: 0 60px;
        width: 36.3%;
    }
    p {
        margin-top: 3rem;
        font-size: 1.4rem;
        line-height: 1.65;
        font-feature-settings: "palt" 1;
        text-align: justify;
        @include media( md ) {
            margin-top: 5rem;
        }
    }
}


.container {
    @include container( 1050px );
    margin-top: 4rem;
    padding: 0 15px;
    @include media( md ) {
        margin-top: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.image {
    margin: {
        left: -15px;
        right: -15px;
        bottom: 4rem;
    }
    text-align: center;
    @include media( md ) {
        margin: 0;
    }
}

.txtCol {
    @include media( md ) {
        padding: 0 0 0 65px;
        width: 52.6%;
    }
    header {
        p {
            margin-top: 1em;
            color: #f6958d;
        }
    }
    h2 {
        img {
            max-height: 14.08px;
            @include media( sm ) {
                max-height: none;
            }
        }
    }
    p {
        margin-top: 3rem;
        font-size: 1.4rem;
        line-height: 1.65;
        text-align: justify;
        @include media( md ) {
            margin-top: 5rem;
        }
    }
}

.Btn {
    @include BtnForm;
}

.Slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
    @include media( sm ) {
        flex-wrap: nowrap;
        margin-top: 40px;
    }
    li {
        width: calc( 100% / 3);
        @include media( sm ) {
            width: auto;
        }
    }
}
