@charset "UTF-8";

@import "assets/stylesheets/mixin";

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px;
    text-align: center;
    background: url("/assets/images/top/bg_Footer.jpg") 50% 50% no-repeat;
    p {
        margin: 0;
        font-size: 1.2rem;
    }
    @include media( lg ) {
        background-size: cover;
        font-size: 1.4rem;
    }
}
